server:
  port: 8083
spring:
  application:
    name: item-service
#  默认当前环境 不搞测试、预发、线上和本地环境了
#  profiles:
#    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB
  datasource:
    url: jdbc:mysql://122.246.0.213:30696/ym-pay?useUnicode=true&characterEncoding=UTF-8&autoReconnect=true&serverTimezone=Asia/Shanghai
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: admin

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler
  global-config:
    db-config:
      update-strategy: not_null
      id-type: auto

logging:
  level:
    com.ymall: debug
  pattern:
    dateformat: HH:mm:ss:SSS
  file:
    path: "logs/${spring.application.name}"

knife4j:
  enable: true
  openapi:
    title: 购物车服务接口文档
    description: "购物车服务"
    email: pleasexiaolin@163.com
    concat: 小林
    url: https://github.com/pleasexiaolin
    version: v1.0.0
    group:
      default:
        group-name: default
        api-rule: package
        api-rule-resources:
          - com.xiaolin.pay.controller

ym:
  jwt:
    location: classpath:hmall.jks
    alias: hmall
    password: hmall123
    tokenTTL: 30m

jasypt:
  encryptor:
    password: ${JASYPT_ENCRYPTOR_PASSWORD}
    property:
      prefix: ENC(
      suffix: )